* *.aspNetHidden, * *.ui-loader-default {
	display: none;
}

body.ng-scope div.ng-scope {
	width:			240px;;
	height:			200px;
	text-align:		center; 
	margin:			20px auto;
	border-radius:	12px 12px; 
	border:			4px solid rgba(25%,25%,25%,0.5);
	overflow:		auto;
}

* span.practice-user-message * {
	min-width:		180px;
	max-width:		180px;
	max-height:		100px;
}

* *.warning {
	color:			red;
	font-weight: 	bold;
}
